{% extends 'base.html' %}

{% block content %}
<div class="select-character-form">
    <div class="container">
        <form action='/chat' method="POST">

            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}

            <div>
                {{ field.label }}
                {{ field}}

                <span>
                    {% if field.errors %}
                    {% for error in field.errors %}
                    {{ error }}
                    {% endfor %}
                    {% endif %}
                </span>
            </div>


            {% endfor %}
            <button type="submit">Submit</button>

        </form>
    </div>
    
</div>

{% endblock %}