{% extends 'base.html' %}

{% block content %}

<div class="other-books-links">

    <a href="/books/sam-satito">
        Sam Satito
    </a>
    <a href="/books/el-dia-que-trascendi-los-limites-de-la-cordura">
        El Dia que Trascendi los Limited del la Cordura
    </a>
    <a href="/books/siempre_en_viernes">
        Siempre en Viernes
    </a>


</div>
<div class="book-landing-page-container">
    <img src="/static/images/book_cover_images/De7a9_image_bookCover.jpg">

    <div class="book-info">
        <h2>De 7:00 a 9:00: <br>Relatos Insólitos</h2>
        <p>These stories, a playful mosaic of stoic characters facing imminent fate, where life is a video game that pauses in catharsis and resumes each day in a new version for those who take the risk, transport us to a universe where folklore, nostalgia, the quest for justice, and intrigue blend to the point that even the most skeptical will look askance if a chair rocks on its own.
        </p>
      
    </div>
    <div class="buy-links">
        <h4>BUY THE BOOK</h4>
        <a href="https://www.amazon.com/-/es/Sandra-M-Colorado-Vega/dp/1736061410">
            <p>Amazon</p>
        </a>
        <a href="https://librerialaberintopr.com/products/de-7-00-a-9-00-relatos-insolitos-efren-rivera-cecilia-marivel-galindo-guajardo-lorena-franco-sandra-m-colorado-vega-jose-m-benitez-martin-sonia-ilemar-baerga-ana-maria-diaz-astrid-antoinette-billat">
            <p>Libreria Laberinto</p>
        </a>
        <a href="https://www.abebooks.com/9781736061411/relatos-ins%C3%83-litos-Spanish-Edition-1736061410/plp">
            <p>AbeBooks</p>
        </a>
    </div>
</div>




{% endblock %}