{% extends 'base.html' %}

{% block content %}

<div class="other-books-links">

    <a href="/books/el-dia-que-trascendi-los-limites-de-la-cordura">
        El Dia que Trascendi los Limited del la Cordura
    </a>
    <a href="/books/siempre_en_viernes">
        Siempre en Viernes
    </a>
    <a href="/books/de-7-a-9">
        De 7:00 a 9:00: Relatos Insólitos
    </a>

</div>
<div class="book-landing-page-container">
    <img src="/static/images/book_cover_images/SamSatito_bookCover.jpg">

    <div class="book-info">
        <h2>Sam Satito</h2>
        <cite>Ilustrad by Mariel Mercardo</cite>
        <p>Sam Satito is the story of a puppy who dreams of finding a family of his own. He’s given to a little girl as
            a birthday present, but she does not appreciate his company and, very soon, he’s left to his own devices.
            Sam is hungry and cold on the streets, but never loses hope of finding a home where he can give all his love
            and care to humans, a mission that ́s given to all dogs. Will Sam find the family he wants so much? Join Sam
            Satito on his journey to find the family who will accept him and fulfill his mission of love.</p>
        <p>Sam Satito cuenta la historia de un perrito que sueña con tener una familia propia. Lo entregan como regalo
            de cumpleaños a una niña que no aprecia su compañía y, muy pronto, lo abandona a su suerte. Sam pasa
            hambre y mucho frío, pero no pierde la esperanza de encontrar un hogar donde pueda regalar todo su amor y
            cuidados a los humanos, una misión dada a todos los perros. ¿Logrará Sam conseguir la familia que tanto
            desea? Acompaña a Sam Satito en su travesía para encontrar su familia y cumplir su misión de amor.
        </p>
    </div>
    <div class="buy-links">
        <h4>BUY THE BOOK</h4>
        <a href="https://www.amazon.com/Satito-Spanish-Sandra-Colorado-Vega/dp/B09DJCLR3L">
            <p>Amazon</p>
        </a>
        <a href="https://tazasyportadas.com/es/products/sam-satito-bilingue-sandra-m-colorado-vega">
            <p>Tazas y Portadas</p>
        </a>
        <a href="https://www.serendipiabysia.com/product-page/sam-satito">
            <p>Serendipia</p>
        </a>
    </div>
</div>

<div class="quote-container">
    <div>
        <blockquote>
            <p>"I think the sign of a good children's book is when they deal with a topic in a way where kids can understand, learn, and not be shielded from the truth.""
            </p>
        </blockquote>

        <cite>J. D. Estrada</cite>
    </div>
    <div>
        <blockquote>
            <p>"No suelo adquirir libros infantiles porque no tengo niños pequeños ni todavia llego a los nietos pero
                compré este libro como el primero que pienso ir coleccionando para el futuro."
            </p>
        </blockquote>

        <cite>Ivette Crespo</cite>
    </div>
    <div>
        <blockquote>
            <p>"    Sam Satito es una tierna y preocupante historia sobre el destino."
            </p>
        </blockquote>

        <cite>Ivette Cofiño Robles</cite>
    </div>

</div>




{% endblock %}