{% extends 'base.html' %}

{% block content %}

<div class="other-books-links">
    <a href="/books/sam-satito">
        Sam Satito
    </a>
    <a href="/books/el-dia-que-trascendi-los-limites-de-la-cordura">
        El Dia que Trascendi los Limited del la Cordura
    </a>

    <a href="/books/de-7-a-9">
        De 7:00 a 9:00: Relatos Insólitos
    </a>

</div>
<div class="book-landing-page-container">
    <img src="/static/images/book_cover_images/SiempreEnViernes_bookCover.jpg">

    <div class="book-info">
        <h2>Siempre en Viernes</h2>
        <p>
            Just like in other situations in my life that marked new challenges, Friday was always the decisive day: Natalia's arrival in Puerto Rico, the birth of my biological children, Natalia's first facial paralysis, the birth of my grandson, my mother's burial, my divorce.
            
            It is a striking book filled with stories that will touch your heart. Sandra's memoirs manage to evoke both laughter and tears. Completely moved.

        </p>
        <p>
            It's a striking book full of stories that will leave a mark on your heart. Sandra's memories manage to evoke laughter and tears. Completely moved.
        </p>

    </div>
    <div class="buy-links">
        <h4>BUY THE BOOK</h4>
        <a href="https://www.amazon.com/-/es/Sandra-M-Colorado-Vega/dp/B087CRQGL4">
            <p>Amazon</p>
        </a>
        <a href="https://tazasyportadas.com/es/products/siempre-en-viernes-sandra-m-colorado-vega">
            <p>Tazas y Portadas</p>
        </a>
        <a href="https://bookricans.com/products/siempre-en-viernes-sandra-m-colorado-vega">
            <p>BookRicans</p>
        </a>
    </div>
</div>

<div class="quote-container">
    <div>
        <blockquote>
            <p>"I think the sign of a good children's book is when they deal with a topic in a way where kids can
                understand, learn, and not be shielded from the truth.""

            </p>
        </blockquote>

        <cite>J. D. Estrada</cite>
    </div>
    <div>
        <blockquote>
            <p>"No suelo adquirir libros infantiles porque no tengo niños pequeños ni todavia llego a los nietos pero
                compré este libro como el primero que pienso ir coleccionando para el futuro."
            </p>
        </blockquote>

        <cite>Ivette Crespo</cite>
    </div>


</div>




{% endblock %}