{% extends 'base.html' %}

{% block content %}
<div class="edit-blog-form">
  <div class="container">
    <h2>Edit Your Blog Post.</h2>
    <form action="/blog/{{blog_post.id}}/edit" method="POST">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
      {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}
      <button class="blue-button">Save</button>

    </form>
  </div>
</div>

<div class="buttons-container text-center">


  <form action='/blog/{{blog_post.id}}' method="POST">
    <button class="pink-button" type="submit">Delete</button>
  </form>

  <form action="/">
    <button class="orange-button">Cancel</button>
  </form>
</div>

{% endblock %}