{% extends 'base.html' %}

{% block content %}
<div class="blog-id-container text-center">
    <h2 class="landing-page-title">{{blog_post.title}}</h2>


    {% if g.user.admin_user == True %}
    <div class="buttons-container">
        <form action="/blog/{{blog_post.id}}/edit" method="post">
            <button class="blue-button">Edit Post</button>
           
        </form>
        <a href="{{ url_for('show_all_blog_posts') }}" class="orange-button">Cancel</a>
    
    
        <form action="/blog/{{blog_post.id}}/delete" method="post">
            <button class="pink-button">Delete Post</button>
        </form>
    </div>
   
    {% endif %}
    <img src="{{blog_post.image_url}}">
    <br>
    <p>{{blog_post.content}}</p>

</div>
{% endblock %}
