{% extends 'base.html' %}

{% block content %}
<div class="about-page-container">
    <div class="text-content">
        <h2 class="landing-page-title">Sandra Colorado</h2>
        <p>Una palabra que define a Sandra es DECIDIDA, no permito quedarme a la mitad del camino.</p>
        <p>Jamás pensé en ser escritora. Aunque mi última labor fue como supervisora en la extinta AEE, mi verdadera
            pasión era enseñar a otros y dibujar. Me convertí en escritora por mis hijos, ellos querían que la historia
            de los problemas que confronté para lograr familia y las situaciones que surgieron en la crianza debían ser
            contadas. Yo les seguí la sugerencia y las letras me atraparon.
        </p>
        <p>A los nuevos escritores, hay gustos para todos los lectores. Si de verdad te nace escribir porque entiendes
            que necesitas decir algo o simplemente te hace feliz, lánzate. Ahora recuerda, SIEMPRE se necesita de un
            buen corrector y de un editor, que necesariamente no tienen que ser una misma persona. No hay justificación
            para una obra mal presentada.
        </p>
    </div>
    <div class="image-container">
        <img src="/static/images/author/sandra-colorado-profile-pic.jpg" alt="Sandra Colorado">
    </div>
</div>
{% endblock %}